.gradient {
    -webkit-text-fill-color: transparent;
    background-image: url(../../assets/brand/gradient.png);
    background-position: 0 0;
    background-size: cover;
    -webkit-background-clip: text;
    background-clip: text;
   
}