.logo-wrapper > div {
    width: 3rem;
    display: flex;
    justify-content: flex-start;
   
}
.hover:hover {
    background-color: transparent;
}
 
.logo-wrapper > img {

object-fit: cover;
padding: 0.5rem;
width:100%
} 

.MuiTypography-root  {
    font-family: 'DM Sans', sans-serif;
}