.sidebar-custom {
    position: fixed;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: 0%;
  overflow: auto;
  font-family: 'DM Sans', sans-serif;
  background-color: rgb(23, 23, 23);
  color: rgb(210, 210, 210)
}
span {
    font-family: 'DM Sans', sans-serif;
}


.font-color{
    color: rgb(210, 210, 210)
}
.bg-color {
    background-color: rgb(22, 22, 22);
    color: rgb(210, 210, 210)
}
.bar-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.bar-wrapper > div {
    border-bottom: 1px solid rgb(33, 33, 33);
    padding-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 85%;
}
.logo-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;

}

.gap-3 > div > span, .custom-font {
    font-family: 'DM Sans', sans-serif;
}
.logo-wrapper > div {
    width: 5rem;
   
}
.logo-wrapper > img {

object-fit: cover;
padding: 0.5rem
} 



