.navbar {
    color: rgb(210, 210, 210);
}
.big-icon{
    font-size: 1.5rem;
    background-color:#2000;
    border-radius: 100%;
  
    
}
.sidebar-custom > div > header > div {
    width: 100%;
    margin-right: 0;
    display: flex;
    justify-content: space-between;
}
nav > div > button {
    background-color: black;
}
.bg-cyan-700 {
    --tw-bg-opacity: 1;
    background-color: rgb(27, 27, 27); 
  }
.enabled\:hover\:bg-cyan-800:hover:enabled {
    --tw-bg-opacity: 1;
    background-color: rgb(37, 37, 37); 
}
nav > div > button:hover, nav > div> button:hover {
    background-color: rgb(34, 34, 34);
}
.dropdown-custom {
    
border-radius: 0.2rem;
border: 1px solid rgb(35, 35, 35);
background-color: rgb(31, 31, 31);
}
