@tailwind base;
@tailwind components;
@tailwind utilities;


.gradient {
    -webkit-text-fill-color: transparent;
    background-image: url(./assets/brand/gradient.png);
    background-position: 0 0;
   
    background-size: cover;
    -webkit-background-clip: text;
    background-clip: text;
   
}
.Button {
    -webkit-text-fill-color: transparent;
    background-image: url(./assets/brand/gradient.png);
    background-position: 0 0;
    background-size: cover;
    -webkit-background-clip: text;
    background-clip: text;
}
input:focus {
    outline: none;
  }
  textarea:focus {
    outline: none;
  }
  
  .MuiButtonBase-root .MuiListItemButton-root .MuiListItemButton-gutters .MuiListItemButton-root .MuiListItemButton-gutters .css-1vhg0lj-MuiButtonBase-root-MuiListItemButton-root {
padding: 0;

  }